@import url("https://fonts.googleapis.com/css2?family=Bungee&display=swap"); /* Import Bungee */
@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap"); /* Import Quicksand */

:root {

  --spring-konstant-blue: hsl(185, 79%, 41%);
  --button-hover-gray: #32373c;
}

body {margin: 0; /* remove default margin */}

.margin-on {
  margin-left: 20%;
  margin-right: 20%;
}

.margin-off {
  margin-right: 0;
  margin-left: 0;
}

h1 {font-family: 'Bungee', cursive;} /* title */

/* Header */
header {
  background-color: var(--spring-konstant-blue); /* from https://springkonstant.org */
  color: white; /* text color */
  padding: 10px; /* padding around the content */
  text-align: left;
  display: flex;
  align-items: center;
  gap: 25px; /* space between the logo and the title */
}

p {
  background-color: white; /* background color */
  font-family: 'Quicksand', sans-serif; /* Use quicksand, else, use the browser's sans-serif font. */
  color: black;
}

button { /* TODO: add preview link in bottom left corner using <a> */
  display: block;
  align-items: center;
  background-color: var(--spring-konstant-blue); /* from https://springkonstant.org */
  border: none;
  padding: 7.5px 7.5px;
  font-size: 16px;
  border-radius: 4px;
  margin: 4px 2px;
  color: white;
  text-align: center;
  font-weight: 600;
  font-size: 1.125em;
  font-family: 'Quicksand', sans-serif;
  transition: background-color 0.3s ease;
  margin-left: auto;
  margin-right: auto;
  width: 100px; 
}

button:hover { /* on button hover, change to this */
  background-color: var(--button-hover-gray);
}

a { /* links to other sites */
  font-family: 'Quicksand', sans-serif; /* Use quicksand, else, use the browser's sans-serif font. */
  font-weight: 600;
  color: var(--spring-konstant-blue);
  text-decoration: none; /* remove underline */
}

a:hover { /* on link hover */
  text-decoration: underline;
}

h2 { /* section */
  background-color: white; /* background color */
  font-family: 'Quicksand', sans-serif; /* Use quicksand, else, use the browser's sans-serif font. */
  color: black;
}

a:visited { /* if the link has already been visited */
  font-style: italic;
}

abbr { /* abbreviations, pretty rarely used */
  text-decoration: underline;
}

#loading {
   position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background-color: white; /* Or whatever color you want */
    z-index: 9999; /* Ensures it sits on top */
    display: flex;
    justify-content: center;
    align-items: center;
}


/*
TODO: make the text margin aligned (not covering the whole width of screen)
At a certain width, this will hopefully be able to convert to simply the full
screen width (like on https://en.wikipedia.org)
*/