@import url('https://fonts.googleapis.com/css2?family=Bungee&display=swap');


h1 {font-family: 'Bungee', cursive;} /* borrowed from https://springkonstant.org */
header {
  background-color: hsl(185, 79%, 41%);
  color: white;
  padding: 10px;
  text-align: left;
}